* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTE BONITA DO GOOGLE */
body {
    font-family: 'Poppins', sans-serif;
}

/* FUNDO COM DEGRADE (sem imagem borrada) */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #ffe4ec, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CAIXA COM ANIMAÇÃO */
.overlay {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    max-width: 600px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.1);

    backdrop-filter: blur(10px);

    /* ANIMAÇÃO */
    animation: subir 1s ease forwards;
}

/* LOGO */
.logo {
    width: 180px;
    height: auto;
    margin-bottom: 25px;
    object-fit: contain;
}

/* TÍTULO */
h1 {
    color: #d63384;
    font-size: 34px;
    margin-bottom: 15px;
}

/* TEXTO */
p {
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

/* BOTÃO */
.btn {
    background: linear-gradient(45deg, #ffb6c1, #ff69b4);
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
}

/* EFEITO HOVER */
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255,105,180,0.4);
}

/* ANIMAÇÕES */
@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.galeria {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 25px;
}

.galeria img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.galeria img:hover {
    transform: scale(1.1);
}
.impacto {
    color: #d63384;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.autoridade {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}
